h1 {
    font-family: "Regular Libre Baskerville", serif;
    color: white;
    text-align: center;
    text-transform: capitalize; 
    text-transform: uppercase;
    font-weight: lighter;
}
div {
    width: 50%; 
   margin-left: 25%;
   margin-top: 100px;
}
html {
    background-color: black;
}
img {
    border: 5px solid white;
    width: 100%;
}
p {
    color: white;
    text-align: center;
    font-style: oblique;
}